In [1]:
import pandas as pd

In [3]:
import xlrd as xl

In [13]:
df1 = pd.read_excel('Desktop/table1.xlsx', skiprows = 1, skipfooter = 1)

In [14]:
df2 = pd.read_excel('Desktop/table2.xlsx', skiprows = 1, skipfooter = 1)

In [15]:
df1

,STATE/UT NAME,NO.OF SEATS,CANDIDATES 1,CANDIDATES ABOVE & EQUAL 15 AND BEYOND 1,CANDIDATES ABOVE & EQUAL 31 AND BEYOND 15,CANDIDATES ABOVE & EQUAL 47 AND BEYOND 31,CANDIDATES ABOVE & EQUAL 63 AND BEYOND 47,CANDIDATES ABOVE 63,CANDIDATES TOTAL CANDIDATES,MIN,MAX,AVG
0,Andhra Pradesh,42,0,31,11,0,0,0,598,6,30,14
1,Arunachal Pradesh,2,0,2,0,0,0,0,11,3,8,5
2,Assam,14,0,12,2,0,0,0,162,5,18,11
3,Bihar,40,0,26,14,0,0,0,607,10,29,15
4,Goa,2,0,2,0,0,0,0,19,7,12,9
5,Gujarat,26,0,21,5,0,0,0,334,4,25,12
6,Haryana,10,0,2,7,1,0,0,230,14,41,23
7,Himachal Pradesh,4,0,4,0,0,0,0,38,7,12,9
8,Jammu & Kashmir,6,0,5,1,0,0,0,77,4,19,12
9,Karnataka,28,0,17,11,0,0,0,434,8,26,15
10,Kerala,20,0,15,5,0,0,0,269,9,20,13
11,Madhya Pradesh,29,0,23,6,0,0,0,378,6,28,13
12,Maharashtra,48,0,16,30,2,0,0,897,7,39,18
13,Manipur,2,0,2,0,0,0,0,18,8,10,9
14,Meghalaya,2,0,2,0,0,0,0,10,2,8,5
15,Mizoram,1,0,1,0,0,0,0,3,3,3,3
16,Nagaland,1,0,1,0,0,0,0,3,3,3,3
17,Odisha,21,0,21,0,0,0,0,196,7,15,9
18,Punjab,13,0,3,10,0,0,0,253,13,29,19
19,Rajasthan,25,0,20,5,0,0,0,320,6,22,12
20,Sikkim,1,0,1,0,0,0,0,6,6,6,6
21,Tamil Nadu,39,0,10,27,2,0,0,845,9,42,21
22,Tripura,2,0,2,0,0,0,0,25,12,13,12
23,Uttar Pradesh,80,0,55,23,2,0,0,1288,9,42,16
24,West Bengal,42,0,39,3,0,0,0,472,5,18,11
25,Chhattisgarh,11,0,6,4,1,0,0,211,8,36,19
26,Jharkhand,14,0,7,7,0,0,0,240,9,31,17
27,Uttarakhand,5,0,3,2,0,0,0,74,9,24,14
28,Andaman & Nicobar Islands,1,0,1,0,0,0,0,15,15,15,15
29,Chandigarh,1,0,0,1,0,0,0,17,17,17,17
30,Dadra & Nagar Haveli,1,0,1,0,0,0,0,11,11,11,11
31,Daman & Diu,1,0,1,0,0,0,0,4,4,4,4
32,NCT OF Delhi,7,0,1,6,0,0,0,150,14,29,21
33,Lakshadweep,1,0,1,0,0,0,0,6,6,6,6
34,Puducherry,1,0,0,1,0,0,0,30,30,30,30

In [16]:
df2

,STATE,PC NO,PC NAME,NO. OF AC SEGMENTS,NO. OF POLLING STATION,ELECTORS,AVG. NO OF ELECTORS PER POLLING STATION,NOMINATIONS,CONTESTENTS,FORFIETED DEPOSITS,VOTERS,VOTERS TURN OUT (IN %)
0,Andhra Pradesh,1,Adilabad,7,1662,1386282,834,11,8,5,1055593,76.145618
1,Andhra Pradesh,2,Peddapalle,7,1707,1425355,835,21,17,15,1025194,71.925520
2,Andhra Pradesh,3,Karimnagar,7,1876,1550810,827,20,17,14,1127225,72.686209
3,Andhra Pradesh,4,Nizamabad,7,1653,1496193,905,39,16,13,1034032,69.110870
4,Andhra Pradesh,5,Zahirabad,7,1757,1445354,823,15,10,8,1099784,76.090978
...,...,...,...,...,...,...,...,...,...,...,...,...
538,NCT OF Delhi,5,NORTH WEST DELHI,10,2053,2194343,1069,20,14,12,1356404,76.090978
539,NCT OF Delhi,6,WEST DELHI,10,1889,2039410,1080,24,17,15,1348744,77.696551
540,NCT OF Delhi,7,SOUTH DELHI,10,1680,1752748,1043,26,19,17,1102849,51.046705
541,Lakshadweep,1,Lakshadweep,1,44,49922,1135,9,6,4,43242,76.145618
542,Puducherry,1,Puducherry,30,905,901292,996,41,30,27,740053,76.145618

In [18]:
for x in df1.columns:
    print(x)

STATE/UT NAME
NO.OF SEATS
CANDIDATES 1
CANDIDATES ABOVE & EQUAL 15 AND BEYOND 1
CANDIDATES ABOVE & EQUAL 31 AND BEYOND 15
CANDIDATES ABOVE & EQUAL 47 AND BEYOND 31
CANDIDATES ABOVE & EQUAL 63 AND BEYOND 47
CANDIDATES ABOVE 63
CANDIDATES TOTAL CANDIDATES
MIN
MAX
AVG

In [19]:
for x in df2.columns:
    print(x)

STATE
PC NO
PC NAME
NO. OF AC SEGMENTS
NO. OF POLLING STATION
ELECTORS
AVG. NO OF ELECTORS PER POLLING STATION
NOMINATIONS
CONTESTENTS
FORFIETED DEPOSITS
VOTERS
VOTERS TURN OUT (IN %)

In [20]:
print(df1['STATE/UT NAME'])

0                Andhra Pradesh
1             Arunachal Pradesh
2                         Assam
3                         Bihar
4                           Goa
5                       Gujarat
6                       Haryana
7              Himachal Pradesh
8               Jammu & Kashmir
9                     Karnataka
10                       Kerala
11               Madhya Pradesh
12                  Maharashtra
13                      Manipur
14                    Meghalaya
15                      Mizoram
16                     Nagaland
17                       Odisha
18                       Punjab
19                    Rajasthan
20                       Sikkim
21                   Tamil Nadu
22                      Tripura
23                Uttar Pradesh
24                  West Bengal
25                 Chhattisgarh
26                    Jharkhand
27                  Uttarakhand
28    Andaman & Nicobar Islands
29                   Chandigarh
30         Dadra & Nagar Haveli
31                  Daman & Diu
32                 NCT OF Delhi
33                  Lakshadweep
34                   Puducherry
Name: STATE/UT NAME, dtype: object

In [21]:
for colname1 in df1.columns:
    set1 = set(df1[colname1])
    for colname2 in df2.columns:
        set2 = set(df2[colname2])
        if set1 == set2:
            print("Possible column match: Table1's " + colname1 + " and Table2's " + colname2)

Possible column match: Table1's STATE/UT NAME and Table2's STATE

In [22]:
df3 = pd.merge(df1, df2, left_on = 'STATE/UT NAME', right_on = 'STATE')

In [23]:
df3

,STATE/UT NAME,NO.OF SEATS,CANDIDATES 1,CANDIDATES ABOVE & EQUAL 15 AND BEYOND 1,CANDIDATES ABOVE & EQUAL 31 AND BEYOND 15,CANDIDATES ABOVE & EQUAL 47 AND BEYOND 31,CANDIDATES ABOVE & EQUAL 63 AND BEYOND 47,CANDIDATES ABOVE 63,CANDIDATES TOTAL CANDIDATES,MIN,...,PC NAME,NO. OF AC SEGMENTS,NO. OF POLLING STATION,ELECTORS,AVG. NO OF ELECTORS PER POLLING STATION,NOMINATIONS,CONTESTENTS,FORFIETED DEPOSITS,VOTERS,VOTERS TURN OUT (IN %)
0,Andhra Pradesh,42,0,31,11,0,0,0,598,6,...,Adilabad,7,1662,1386282,834,11,8,5,1055593,76.145618
1,Andhra Pradesh,42,0,31,11,0,0,0,598,6,...,Peddapalle,7,1707,1425355,835,21,17,15,1025194,71.925520
2,Andhra Pradesh,42,0,31,11,0,0,0,598,6,...,Karimnagar,7,1876,1550810,827,20,17,14,1127225,72.686209
3,Andhra Pradesh,42,0,31,11,0,0,0,598,6,...,Nizamabad,7,1653,1496193,905,39,16,13,1034032,69.110870
4,Andhra Pradesh,42,0,31,11,0,0,0,598,6,...,Zahirabad,7,1757,1445354,823,15,10,8,1099784,76.090978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,NCT OF Delhi,7,0,1,6,0,0,0,150,14,...,NORTH WEST DELHI,10,2053,2194343,1069,20,14,12,1356404,76.090978
539,NCT OF Delhi,7,0,1,6,0,0,0,150,14,...,WEST DELHI,10,1889,2039410,1080,24,17,15,1348744,77.696551
540,NCT OF Delhi,7,0,1,6,0,0,0,150,14,...,SOUTH DELHI,10,1680,1752748,1043,26,19,17,1102849,51.046705
541,Lakshadweep,1,0,1,0,0,0,0,6,6,...,Lakshadweep,1,44,49922,1135,9,6,4,43242,76.145618
542,Puducherry,1,0,0,1,0,0,0,30,30,...,Puducherry,30,905,901292,996,41,30,27,740053,76.145618